@import "tailwindcss";

body {
    background-color: #121212;
}

input::placeholder {
    color: #81827C;
}

input:focus {
    outline: none;
}

hr {
    color: #81827C;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
